*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s linear;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    outline: none;
    border: none;
}

html{
    scroll-behavior: smooth;
    font-size: 62%;
    overflow-x:hidden ;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff; 
 
}
.fa-bars{
    font-size:16px;
    display: none;
    padding: 8px ;
    background:#eee;
    color:black;
    border-radius: 5px;
    
}
.header .logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 10px;
  
}
.header .logo .coffee{
    font-size: 24px;
}
.fa-mug-hot{
    font-size: 24px;
    align-self: center;
}
.header .nav-bar{
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.header .nav-bar a{
    margin-right: 20px; 
    position: relative;
     
}
.header .nav-bar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width:20%;
    border: 1px solid red;
    transition: 0.3s linear;
}
.header .nav-bar a:hover::after{
    width: 100%;
}
.style{
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 2px solid #333;
}
.style:hover{
    color: white;
    background:rgba(124, 96, 96, 0.4);
    border: 2px dashed #333;
    border-radius: 10px;
}

/*home page--------------------------------------------------------------*/
section{
    padding: 20px 9%;

}
.home-page{
    width: 100vw;
   min-height: 100vh;
    background-image: url("home-bg.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 30px;

}
.home-content{
    width: 100%;
}
.home-content-sec1{
    width: 100%;
    margin-top: 120px;
    display: flex;
    
}
.home-content-sec1-text{
width: 50%;
}
.home-content-sec1-text h1{
    text-transform: uppercase;
    font-size: 60px;
}
.home-content-sec1-text .style{
    margin-top: 20px;
}
.home-content-sec1-img{
width: 50%;
display: flex;
justify-content: center;

}
.home-content-sec1-img img{
    width: 300px;
    height: 350px;
    transition: 1s linear;
}
.home-content-sec2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.home-content-sec2 img{
    width: 100px;
    height: 100px;
}
.home-content-sec2 img:hover{
    transform: translateY(-15px);
}
/*about-home-------------------------------------------------------------*/
.about-page{
    width: 100vw;
    min-height: 120vh;
}
.section-header{

    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.section-header h1{
    font-size: 80px;
    text-transform: uppercase;
    color: rgba(0,0,0,.4);
}
.section-header h3{
    font-size: 30px;
    position: absolute;
    top: 35%;

}
.section-about-content{
display: flex;
width: 100%;
margin-top: 20px;
}
.section-img{
width: 50%;

}
.section-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.section-about-text{
    width: 50%;
}
.section-about-text h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.section-about-text .text{
    font-size: 18px;
    line-height:28px;
}
.section-about-text .style{
margin-top: 20px;
}
.about-block{
    width: 100%;
    margin-top: 20px;
   
    display: flex;
    flex-wrap: wrap;
    gap:5px;

}
.box-content{
padding: 10px;
min-width:100px;
text-align: center;
flex-grow: 1;
flex-shrink:0;
border: 1px solid #333;
}
.box-content:hover{
    background:rgba(124, 96, 96, 0.9);
    border:1px solid gold;
    
}
.box-content img{
    margin-bottom: 15px;
}
.box-content p{
    font-size: 16px;
}
/*--our menu----------------------------------------------------------------------*/
.menu-page{
    width:100vw;
    min-height:115vh;
    background: url("menu-bg.jpg");
    background-position: center;
    background-size: cover;


}
.menu-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
   
}
.menu-box{
    position: relative;
}
.menu-box img{
    width: 70px;
    height: 70px;
    position:absolute;
    top:50%px;
    left:-30px;      
}
.menu-block .menu-box{
    width:45%;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-box  .box-text h1{
font-size: 24px;
margin-bottom: 10px;
}
.menu-box  .box-text p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 32px;
}
.menu-box  .box-text span{
    font-size: 18px;
}
.box-text{
    width: 80%;
}

/*review page------------------------------------------------------------*/
.review-page{
    width: 100vw;
    min-height: 60vh;
    background:rgba(124, 96, 96, 0.4);
   
}
.stars .fa-star{
    color:gold;
    margin-top: 10px;
}
.slider-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #333; 
    border-radius: 10px;
   
    
}
.next-con{
    width:70%;
    height: 90%;
    position: relative;
    overflow: hidden; 
    border: 5px solid #333;
    padding: 10px;

}
.slider{
    width:100%;
    height: 100%;
    background:#fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
   
}
.slider img{
    width: 200px;
    height: 200px;

}
.slider h1{
    font-size: 32px;
    margin-top: 10px;
}
.slider h3{
    font-size:18px;
    margin-top: 10px;
}
.slider p{
    font-size: 14px;
    margin-top: 10px;
}
/*book page----------------------------------------------------------------*/
.book-page{
    width:100vw;
    min-height: 110vh;
    background: url("book-bg.jpg");
}
.book-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    width:60%;
    border:2px solid #333;
    border-radius: 10px;
    padding: 30px 50px; 
    background: transparent;   
}
form input{
    background: transparent;
    border:2px solid #333;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    color:rgba(0,0,0,.3)
}
form textarea{
    background: transparent;
    border:2px solid #333;
    border-radius: 5px;
    width:100%;
    padding: 10PX;
}
form button{
    padding: 10px 20px;
    margin-top: 20px;
    background: transparent;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 20px;
    color:rgba(0,0,0,.3);
    cursor: pointer;
}
form input:hover ,form textarea:hover ,form button:hover{
    border:2px dashed #333;
}
/*footer--------------------------------------------------------------------*/

.footer-page{
    width:100vw;
    min-height: 50vh;
  
}
.footer-page p {
    font-size: 20px;
    margin-top: 40px; 
    display: flex;
    justify-content: center;
}

.footer-page p span{
    font-size: 20px;
    color:purple;
}
.footer{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}
.footer i{
    margin-right: 5px;
    color:purple;
}
.footer i:hover{
  transform: scale(1.3);  
}

.footer-sec{
    min-width: 200px;
}
.footer-sec .footer-sec-header h1{
    font-size: 30px;
    color:purple;
}
.footer-sec .block {
    margin-top: 20px; 
}
.footer-sec .block div a,i {
    font-size:14px;
    display: inline-block;
    margin-bottom: 10px;
}
.footer a:hover{
  transform: translateX(10px);

}
/*media query responsive----------------------------------------------------------*/
@media (max-width:990px){
    .header .fa-bars{
        display: initial;
    }
    .fa-xmark{
        transform: rotate(90deg);
    }
    .header .nav-bar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 2px solid rgba(0,0,0,0.5);
        flex-direction: column;
        align-items: flex-start;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .header .nav-bar a{
        padding: 10px;
        margin-bottom: 10px;
        background:rgba(0,0,0,0.2);
        display: block;
        width: 100%;
    }
    .header .nav-bar a::after{
        display: none;
    }
    .header .nav-bar a:hover{
        color: white;
        background:rgba(124, 96, 96, 0.4);
    }
    .header .nav-bar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%); 
    }
    .section-header h1{
        font-size: 60px;
    }
    .section-about-text .text{
        font-size: 16px;
    }
    .section-header h3{
        font-size: 26px;
    }
    .section-img img{
        width: 300px;
        height:300px;
    }
    .section-about-text h1{
        font-size: 20px;
    }
    .section-about-content{
        position:relative
    }
.about-block{
    position: absolute;
    left:0;
    right: 0;
    width:100%;
    margin-top: 100px;
}
.menu-page{
    height:150vh;
}
.menu-block{
    flex-direction: column;
}
.menu-block .menu-box{
    width:100%;
    padding: 10px;
}
.menu-box  .box-text h1{
font-size:18px;
}
.menu-box  .box-text p{
    font-size: 14px;
    margin-top: -8px;
    line-height: 16px;
}
.menu-box  .box-text span{
    font-size: 16px;
}
.footer-sec .footer-sec-header h1{
    font-size: 24px;
}
}
@media (max-width:768px){
    .home-content-sec1{
        flex-direction: column;
    }
    .home-content-sec1-text{
        width:100%;
        text-align: center;
        margin-top: -50px;
    }
    .home-content-sec1-text h1{
        font-size: 30px;
        
    }
    .home-content-sec1-img{
        width: 100%;
        margin-top:30px;
    }
    .home-content-sec1-img img{
        height: 300px;
    }
    .home-content-sec2 img{
        width:70px;
        height: 70px;
        margin-top:20px;
     }
     .section-about-content{
         flex-direction: column;
     }
     .section-header{
         margin-top: -20px;
     } 
     .section-header h1{
       font-size: 50px;
     }
     .section-header h3{
        font-size: 30px;
     }
     .section-about-content .section-img{
         width:100%;
         margin-top: -30px;
         display: flex;
         justify-content: center;
     }
     .section-img img{
         width:250px;
         height:250px;
     }
     .section-about-content .section-about-text{
         width:100%;
     }
     .section-about-text .text{
         line-height: 20px;
         margin-top: -15px;
     }
     .section-about-text .style{
         margin-top:10px;
         padding: 5px;
     }
     .about-block{
        margin-top:10px;
        flex-direction: column;
     }
     .about-block .box-content{
         padding: 5px;
     }
     .menu-box .box-text h1{
         font-size: 18px;
     }
     .menu-box .box-text p{
         font-size: 14px;
         line-height:24px;
     }
     .menu-box  .box-text span{
         font-size: 16px;
     }
     form{
         width: 100%;
     }
     form input , form textarea ,form button{
         font-size: 16px;
     }
     .book-container{
        margin-top: 40px;
    }
    
    .footer-page p,.footer-page p span{
        font-size: 14px;
    } 
    .footer-sec .footer-sec-header h1{
        font-size: 20px;
    }
     .footer-sec .block div a,i{
         font-size: 12px;
     } 
}
    

@media (max-width:476px){
    .header .logo .coffee{
        font-size: 16px;
    }
    .fa-mug-hot{
        font-size: 16px;
    }
    .header .style{
        font-size: 12px;
        padding: 5px;
    }
    .header .nav-bar a{
        font-size: 12px;
    }
    .home-content-sec1-text{
        margin-top: -80px;
    }
    .home-content-sec1-text h1{
        font-size: 20px;
        
    }
    .home-content-sec2{
        margin-top: 80px;
    }
    
    .section-header{
        margin-top: -20px;
    }
   .section-header h1{
       font-size: 30px;
   }
   .section-header h3{
    font-size: 16px;
   }
   .section-img img{
       width:150px;
       height:150px;
   }
   .section-about-text h1{
       font-size:14px;
   }
   .section-about-text .text{
       font-size: 12px;
   }
   .section-about-text .style{
       margin-top: 10px;
   }
   .menu-box .box-text h1{
    font-size: 16px;
}
.menu-box .box-text p{
    font-size: 12px;
    line-height:20px;
}
.menu-box  .box-text span{
    font-size: 14px;
    position: relative;
    top:-5px;
    
}
.menu-box img{
    width:50px;
    height: 50px;
    left:-25px;
}
.menu-block .menu-box{
   padding: 7px;
}
.book-container{
    margin-top: 40px;
}
form{
    padding: 40px 10px;
    
}
form input , form textarea ,form button{
    font-size: 12px;
}
.footer-page p,.footer-page p span{
    font-size: 12px;
   
}
.footer-page p{
    position: absolute;
    left: 0;
    right: 0;
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:20px;

}

}